[submodule "Tree"]
	path = libs/Tree
	url = https://github.com/Wool5443/Tree
[submodule "Utils"]
	path = libs/Utils
	url = https://github.com/Wool5443/Utils
[submodule "String"]
	path = libs/String
	url = https://github.com/Wool5443/String
[submodule "LinkedList"]
	path = libs/LinkedList
	url = https://github.com/Wool5443/LinkedList
